@media only screen and (max-width: 600px) {
    h1 {
      color: rgb(17, 171, 73);
    }
  }

  img {
      width: 100%;
  }


@media only screen and (max-width: 800px) {
    img {
      width: 49%;
    }
  }