h1 {
    color: rgb(0, 0, 0);
    font-size: large;
}
h2 {
    color: black;
    font-size: large;
}
p {
    color: black;
}
a {
    color: black;
}
a:hover {
    color: olivedrab;
}
.header {
    background: whitesmoke;
}
main {
    background-color: bisque;
}
.footer {
    background-color: whitesmoke ;
}
img {
    border: 5px solid rgb(131, 82, 9);
    margin: 10px;
    padding: 10px;
}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.griglia {
    border: 8px solid;
    border-color: burlywood;
    box-sizing: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    column-gap: 5px;
}